.sidebar {
	width: 200px;
	position: fixed;
	z-index: 1;
	left: 0px;
	background-color: #F8F8F8;
	border: 1px solid grey;
	border-left: 0px;
}

.sidebar a {
	padding: 0px 0px 1px 0px;
	text-decoration: none;
	font-size: 13px;
	color: blue;
	display: block;
}

.sidebar a:hover {
	text-decoration: underline;
}

.main {
	margin-left: 200px;
	border: 1px solid grey;
}

.mainbody {
	margin-left: 5px;
	font: 13px Arial;
}

.langbutton {
	float: right;
	display: block;
	font-size: 12px;
}

.stdlist {
	list-style-type: square;
}

/*.tooltip {
	position: relative;
	display: block;
}

	.tooltip .tooltiptxt {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #FFFFFF;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 100%;
		margin-left: 0px;
		opacity: 0;
		transition: opacity 0.1s;
	}

		.tooltip .tooltiptxt::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -50px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}

	.tooltip:hover .tooltiptxt {
		visibility: visible;
		opacity: 1;
	}
*/

